html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

/*
### Primary

- Pink: hsl(322, 100%, 66%)
- Light Pink: hsl(321, 100%, 78%)
- Light Red: hsl(0, 100%, 63%)

### Neutral

- Very Dark Cyan: hsl(192, 100%, 9%)
- Very Pale Blue: hsl(207, 100%, 98%)

font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

